.App {
  text-align: center;
  max-width: 1400px;
  background:whitesmoke
}

.block {
  background-color:rgb(160, 109, 73);
  border-style: solid;
  border-color: brown;
  padding: 20px;
}

.home {
  background-color:rgb(160, 109, 73);
  border-style: solid;
  border-color: brown;
  padding: 20px;
}

.gameList {
  background-color:aquamarine;
  border-style: solid;
  border-color: brown;
  padding: 20px;
}

.newGameComponent {
  background-color:rgba(65, 157, 236, 0.81);
  padding: 20px;

  /* border-color: brown; */

}

.paragraph {
  background-color:cadetblue
}

.newGameForm {
  background-color: azure;
  border-style: solid;
  border-color: brown;
  padding: 20px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.h1 {
  color:brown
}

.h3 {
  color:darkblue
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.games {
  background-color:burlywood
}

.li {
  border-style: solid;
  border-color: brown;
  padding-bottom:60px
}