.App {
  text-align: center;
  max-width: 1400px;
  background:whitesmoke
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.div {
  background-color:aquamarine;

}

.paragraph {
  background-color:rgb(53, 30, 228)
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.h1 {
  color:brown
}

.h3 {
  color:darkblue
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.games {
  background-color:burlywood
}

.li {
  border-style: solid;
  border-color: brown;
  padding-bottom:60px
}